<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3Lkjb2gdnZ3ksJ6QlPbxeHHrabUdReA4</string>
	<key>GCM_SENDER_ID</key>
	<string>475666154233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projecttest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>projectbisamasak</string>
	<key>STORAGE_BUCKET</key>
	<string>projectbisamasak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475666154233:ios:6ccc213a4f8af10db09828</string>
</dict>
</plist>